@import '../../common/styles/index';

.body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.timer {
    text-align: center;
    font-size: 60;
    margin-top: 30px;
    border: 2px solid #000000;
}


.red {
    height: 100px;
    text-align: center;
    background-color: red;
    border: 2px solid black;
    font-size: 3em;
}

.green {
    height: 100px;
    text-align: center;
    background-color: green;
    border: 2px solid black;
    font-size: 3em;
}

.yellow {
    height: 100px;
    text-align: center;
    background-color: yellow;
    border: 2px solid black;
    font-size: 3em;
}

.blue {
    height: 100px;
    text-align: center;
    background-color: blue;
    border: 2px solid black;
    font-size: 3em;
}

.orange {
    height: 100px;
    text-align: center;
    background-color: orange;
    border: 2px solid black;
    font-size: 3em;
}

.pink {
    height: 100px;
    text-align: center;
    background-color: pink;
    border: 2px solid black;
    font-size: 3em;
}